body {
  background-color: white;
  margin: 0 auto;
  box-sizing: border-box;
}

.l-island-a {
  margin-left: auto;
  margin-right: auto;
}

.l-island-a p {
  margin: 15px 0;
}
.content {
  background-color: white;
  border-radius: 5px;
  padding: 0 15px;
}
.content h2,
.content h3 {
  font-size: 1.5em;
  line-height: 1.3em;
}
.content h2,
.content h3,
.content h4 {
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 15px;
}

.content-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.3em;
  word-wrap: break-word;
  margin-top: 14px;
  margin-bottom: 15px;
}

.not-found {
  margin-top: 30%;
  font-size: 32px;
  text-align: center;
}

.image-wrapper {
  text-align: center;
  margin: 30px 0;
}

.icon {
  width: 20px;
}

table {
  width: 100%;
}

table, th, td {
  border: 1px solid lightgrey;
  border-collapse: collapse;
}

th, td {
  padding: 2px 4px;
}

.navbar-right {
  margin-right: 0;
}