{{> header title='Details page'}}

<body>
    <button onclick="history.back(-1)">Go Back</button>
    <br>
    <br>
    <div>
        {{#if this.isDir}}
        <img class="icon" src="folder-icon.png" alt="альтернативный текст">
        {{!-- <a href="?path={{this.dir}}/{{this.name}}" class="name">{{ this.name }}</a> --}}
        <br>
        {{else}}
        <img class="icon" src="file-icon.png" alt="альтернативный текст">
        <p>File name: {{this.name}}</p>
        <p>File size: {{this.size}}</p>
        <p>File created: {{this.birthTime}}</p>
        <a href="download?filepath=/{{this.filePath}}">(Download)</a>
        <input type="button" value="Preview" onclick="location.href='preview?filepath={{this.filePath}}';" />
        {{/if}}
    </div>
</body>
{{> footer}}