{{> header title='Home page' token=token}}

<body>
  {{#if pathForBack}}
  <button onclick="history.back(-1)">Go Back</button>
  {{/if}}
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      {{#each folderItems}}
      <tr data-content='{{this.dir}}/{{this.name}}' class="table-row">
        <td>
          {{#if this.isDir}}
          <img class="icon" src="folder-icon.png" alt="альтернативный текст">
          <a href="?path={{this.dir}}/{{this.name}}" class="name">{{ this.name }}</a>
          <br>
          {{else}}
          <img class="icon" src="file-icon.png" alt="icon">
          <a href="details?filepath={{this.dir}}/{{this.name}}&name={{this.name}}&size={{this.size}}&birth={{this.birthtime}}">{{this.name}}</a>
          <a href="download?filepath=/{{this.dir}}/{{this.name}}">(Download)</a>
          {{#ifEqualsChained this.exp "png" "jpg" "gif"}}
          <input type="button" value="Preview" onclick="location.href='preview?filepath={{this.dir}}/{{this.name}}';" />
          {{/ifEqualsChained}}
          {{/if}}
        </td>
        <td>
          {{this.size}}
        </td>
        <td>
          {{this.birthtime}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</body>
{{> footer}}
