{{> header title='Login' token=token}}

<h1>Login</h1>

{{#if errorMessage}} <p class="">{{errorMessage}}</p> {{/if}}

<form method="POST" action="/user/login">
  <div class='form-group {{#if login}}has-error{{/if}}'>
    <label for='username'>Username *</label>
    <input type='text' name="username" class='form-control' id='username' placeholder='Username' />
    {{#if login}}<small class="fonr-error">{{loginErrorMsg}}</small>{{/if}}
  </div>
  <div class='form-group'>
    <label for='password'>Password *</label>
    <input type='password' name="password" class='form-control' id='password' placeholder='Password' />
  </div>

  <button type='submit' class='btn btn-default'>Login</button>
</form>
<br>
<p>Don't have an account? <a href="/user/create">Register</a></p>

{{> footer}}