{{> header}}

<form action="/upload" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="file">File input</label>
    <input type="file" id="file" name="file[0]">
  </div>

  <button type='submit' class='btn btn-default'>Upload</button>
</form>

{{> footer}}