<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">File manager</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    {{#if token}}
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/upload">Upload</a></li>
                    </ul>
                    {{/if}}
                    <ul class="nav navbar-nav navbar-right">
                        {{#unless token}}
                        <li><a href="/user/login">Login</a></li>
                        {{/unless}}
                        <li><a href="/user/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>